<h1>Admin - Dashboard</h1>
<hr>

<h2>Products available: <%= @products %></h2>
<a href="/admin/products/" ><h5>View all products</h5></a>
<br>
<h2>Categories available: <%= @categories %></h2>
<a href="/categories/1" ><h5>Evergreens</h5></a>
<a href="/categories/2" ><h5>Shrubs</h5></a>
<a href="/categories/3" ><h5>Trees</h5></a>


