<section class="">

  <header class="">
    <h1>About us</h1>
  </header>
  <hr>
  <br>
  <h2>Jungle Store</h2>
  <p>This is a online store of special plants. You can purchase selected greens for your home and at the same time learning about it.</p>

</section>